/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

input,
select {
  padding: 0.25rem 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
}

input:active,
select:active input:focus,
select:focus,
input:focus-visible,
select:focus-visible,
input:focus-within,
select:focus-within {
  outline: none;
}
